<main id="main" class="main">
    <div class="container-fluid" style="height:250px">
        <cute name1="~/assets/img/card.jpg" text="Example Image" />
        <cute name1="~/assets/img/card.jpg" text="Example Image" />
    </div>
    <h1>hello</h1>
    <img src="~/assets/img/card.jpg" />
</main>
