@model AddressBook.Models.Country

<main id="main" class="main">
    <div class="container-fluid">
        <h2>Country Form</h2>
        <form>
            <!-- Country ID (Auto-increment, Primary Key) -->
            <div class="form-group">
                <label asp-for="CountryId" class="form-label"></label>
                <input asp-for="CountryId" class="form-control" />
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>

            <!-- Country Name (Unique Key, Not Null) -->
            <div class="form-group">
                <label asp-for="CountryName" class="form-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>

            <!-- Country Code (Not Null) -->
            <div class="form-group">
                <label asp-for="CountryCode" class="form-label"></label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="creationdate" class="form-label"></label>
                <input asp-for="creationdate" class="form-control" />
                <span asp-validation-for="creationdate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="form-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>