@model Quiz.Models.Question

<main id="main" class="main">
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-3">
                        <li class="breadcrumb-item">Question</li>
                        <li class="breadcrumb-item active">Question Add</li>
                    </ol>
                </nav>

                <h5 class="card-title mb-4">Question Add/Edit</h5>

                <form>
                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="questionText" class="form-label">Question Text</label>
                        <textarea asp-for="questionText" class="form-control" id="questionText" rows="3" ></textarea>
                        <span asp-validation-for="questionText" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="questionLevel" class="form-label">Question Level</label>
                        <select asp-for="questionLevel"  class="form-select" id="questionLevel" >
                            <option value="">Select Level</option>
                            <option value="1">Beginner</option>
                            <option value="2">Intermediate</option>
                            <option value="3">Advanced</option>
                        </select>
                        <span asp-validation-for="questionLevel" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="OptionA" class="form-label">Option A</label>
                        <input asp-for="OptionA"  type="text" class="form-control" id="optionA" >
                        <span asp-validation-for="OptionA" class="text-danger"></span>
                    </div>

                    <div class="mb-3">.
                        <span class="text-danger">*</span>
                        <label asp-for="OptionB" class="form-label">Option B</label>
                        <input asp-for="OptionB" type="text" class="form-control" id="optionB" >
                        <span asp-validation-for="OptionB" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="OptionC" class="form-label">Option C</label>
                        <input asp-for="OptionC" type="text" class="form-control" id="optionC" >
                        <span asp-validation-for="OptionC" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="OptionD" class="form-label">Option D</label>
                        <input asp-for="OptionD"  type="text" class="form-control" id="optionD" >
                        <span asp-validation-for="OptionD" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="correctOption" class="form-label">Correct Option</label>
                        <select asp-for="correctOption" class="form-select" id="correctOption" >
                            <option value="">Select Correct Option</option>
                            <option value="A">Option A</option>
                            <option value="B">Option B</option>
                            <option value="C">Option C</option>
                            <option value="D">Option D</option>
                        </select>
                        <span asp-validation-for="correctOption" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="questionMarks" class="form-label">Question Marks</label>
                        <input asp-for="questionMarks" type="number" class="form-control" id="questionMarks" >
                        <span asp-validation-for="questionMarks" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="isActive" checked>
                            <label class="form-check-label" for="isActive">
                                Is Active
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success me-2">Save</button>
                    <button type="button" class="btn btn-danger">Reset</button>
                    <a class="btn btn-warning ms-1" asp-controller="Question" asp-action="QuestionList">
                        Back
                    </a>
                </form>
            </div>
        </div>
    </div>
</main>